.card{
    /* width: 500px; */
    height: 400px;
    max-width: max-content;
 
    background:gray;
    color: antiquewhite;
    /* align-content: flex-end; */
    box-shadow: 10px 10px 10px 10px rgb(245, 243, 240);

}